/**************************************\
 * gw2_infographic.css                *
\**************************************/
body, html{
}
a{
}
a:hover{
}
h1{
}
h2{
}
h3{
}
h4{
}
pre{
}
.clear{
    clear:both;
}

/**************************************\
 * Page Layout                        *
\**************************************/
#site_container{
}
    #site_banner{
        background: url(../img/gw2bg.jpg) no-repeat;
        width: 1230px;
        height: 200px;
    }
        #site_logo{
            background: url(../img/gw2logo.png) no-repeat;
            width: 310px;
            height: 205px;
            position: relative;
            left: 160px;
        }
    #middle_container{
        position: relative;
        width: 1240px;
        height: 720px;
    }
/**************************************\
 * D3 Containers                      *
\**************************************/
.formatted_text{
    text-align: center;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 1.8em;
    height: 150px;
    width: 150px;
    position: relative;
}
#gender_pie{
    position: relative;
    height: 320px;
    width: 320px;
    left: 455px;
    top: 179px;
    z-index: 9999;
}
    #gender_male{
        position: relative;
        background: url(../img/gw2_male.png) no-repeat;
        height: 27px;
        width: 17px;
        left: 170px;
        top: 170px;
    }
    #male_text{
        position: relative;
    }
    #gender_female{
        position: relative;
        background: url(../img/gw2_female.png) no-repeat;
        height: 27px;
        width: 20px;
        top: 144px;
        left: 132px;
    }
    #female_text{
        position: relative;
        left: -140px;
    }
#race_donut{
    position: relative;
    height: 650px;
    width: 650px;
    left: 290px;
    top: -335px;
    z-index: 9998;
}
    #race_asura{
        position: relative;
        background: url(../img/gw2_asura.png) no-repeat;
        width: 21px;
        height: 17px;
        top: 230px;
        left: 400px;
    }
    #asura_text{
        top: -80px;
        left: -40px;
    }
    #race_charr{
        position: relative;
        background: url(../img/gw2_charr.png) no-repeat;
        width: 18px;
        height: 17px;
        top: 350px;
        left: 500px;
    }
    #charr_text{
        top: -30px;
    }
    #race_human{
        position: relative;
        background: url(../img/gw2_human.png) no-repeat;
        width: 22px;
        height: 16px;
        top: 540px;
        left: 360px;
    }
    #human_text{
        top: 30px;
        left: -50px;
    }
    #race_norn{
        position: relative;
        background: url(../img/gw2_norn.png) no-repeat;
        width: 22px;
        height: 15px;
        top: 345px;
        left: 127px;
    }
    #norn_text{
        top: -30px;
        left: -125px;
    }
    #race_sylvari{
        position: relative;
        background: url(../img/gw2_sylvari.png) no-repeat;
        width: 19px;
        height: 18px;
        top: 165px;
        left: 230px;
    }
    #sylvari_text{
        top: -80px;
        left: -100px;
    }

#profession_chart{
    position: relative;
    height: 650px;
    width: 300px;
    top: -1050px;
}
    #profession_engineer{
        position: relative;
        background: url(../img/gw2_engineer.png) no-repeat;
        height: 21px;
        width: 20px;
        top: 190px;
        left: 5px;
    }
    #profession_mesmer{
        position: relative;
        background: url(../img/gw2_mesmer.png) no-repeat;
        height: 22px;
        width: 25px;
        left: 5px;
        top: 253px;
    }
    #profession_necromancer{
        position: relative;
        background: url(../img/gw2_necromancer.png) no-repeat;
        height: 17px;
        width: 17px;
        left: 5px;
        top: 312px;
    }
    #profession_guardian{
        position: relative;
        background: url(../img/gw2_guardian.png) no-repeat;
        height: 16px;
        width: 18px;
        left: 5px;
        top: 376px;
    }
    #profession_thief{
        position: relative;
        background: url(../img/gw2_thief.png) no-repeat;
        height: 22px;
        width: 19px;
        left: 5px;
        top: 440px;
    }
    #profession_elementalist{
        position: relative;
        background: url(../img/gw2_elementalist.png) no-repeat;
        height: 20px;
        width: 19px;
        left: 5px;
        top: 500px;
    }
    #profession_ranger{
        position: relative;
        background: url(../img/gw2_ranger.png) no-repeat;
        height: 18px;
        width: 17px;
        left: 5px;
        top: 563px;
    }
    #profession_warrior{
        position: relative;
        background: url(../img/gw2_warrior.png) no-repeat;
        height: 24px;
        width: 25px;
        left: 5px;
        top: 625px;
    }
#tradeskill_chart{
    position: relative;
    height: 650px;
    width: 300px;
    top: -1540px;
    left: 930px;

}
