{% extends "base.html" %}
{% block site_content %}
<div id='content_wrapper' style="height: 1500px;">
    <div id='left_side_wrapper'>
        <div id='default_left_side_top_hole'></div>
        <div id='default_left_side_bottom_hole'></div>
    </div> <!-- END left_side_wrapper -->
    <div id='right_side_wrapper'>
        <div id='content'>
            <div id='job_container'>
                <div id='job_title'>What do I do?</div>
                <div id='job_content'>
                    <div id='main_picture_container'>
                        <div id='main_picture'></div>
                        <div id='main_picture_top_tape' class='tape_h'></div>
                        <div id='main_picture_bottom_tape' class='tape_h'></div>
                        <div id='main_picture_left_tape' class='tape_v'></div>
                        <div id='main_picture_right_tape' class='tape_v'></div>
                    </div>
                    <h3>Florida Resources and Environmental Analysis Center</h3>
                    <ul>
                        <li>Web Developer</li>
                        <li>Python (Django), JavaScript (OpenLayers, MooTools, etc.)</li>
                        <li>May 2011 to Present</li>
                        <li>Tallahassee, FL (Florida State University)</li>
                    </ul>
                    <br />
                    <h3>Sencommunications, Inc.</h3>
                    <ul>
                        <li>Customer Service / Tech Support</li>
                        <li>Telecommunications, VoIP</li>
                        <li>Plantronics, GN Netcom, VXI, Sennheiser, Polycom</li>
                        <li>April 2010 - May 2011</li>
                        <li>Tampa, FL</li>
                    </ul>
                    <br />
                    <h3>Publix Supermarkets</h3>
                    <ul>
                        <li>Customer Service Team Leader</li>
                        <li>Retail store slave</li>
                        <li>June 2005 - January 2009</li>
                        <li>Tampa, FL</li>
                    </ul>
                </div>
            </div>
            <div class='clear'></div>
            <div id='activity_container'>
                <div id='activity_title'>What else?</div>
                <div id='activity_content'>
                    <div id='activity_picture_container'>
                        <div id='activity_picture'></div>
                        <div id='activity_picture_bottom_tape' class='tape_h'></div>
                        <div id='activity_picture_left_tape' class='tape_v'></div>
                    </div>
                    <div id='dog_wash_picture_container'>
                        <div id='dog_wash'></div>
                        <div id='activity_picture_top_tape' class='tape_h'></div>
                        <div id='activity_picture_right_tape' class='tape_h'></div>
                    </div>
                </div>
                <div id='bears_beets'>Bears, beets, Battlestar Galactica</div>
            </div>
            <div class='clear'></div>
        </div> <!-- END content -->
    </div> <!-- END right_side_wrapper -->
</div> <!-- END content_wrapper -->
{% endblock site_content %}
