<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{% block head_title %}{% endblock%} cnabors.net | Chris Nabors</title>
    <!-- MooTools -->
    <script type='text/javascript' src='/static/js/mootools.js'></script>
    <!-- D3 -->
    <script type='text/javascript' src='/static/js/d3.js'></script>
    <!-- Local JS File -->
    <script type='text/javascript' src='/static/js/main.js'></script>
    <!-- Google API Web Font (Mimics Handwriting) -->
    <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
    <!-- Local CSS File -->
    <link href='/static/css/main_style.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div id='site_container'>
    <!-- Logo Wrapper -->
    <div id='logo_wrapper'>
        <div id='logo_wrapper_red_line'>
            <div id='logo_wrapper_top_left'></div>
            <div id='logo_wrapper_title'>Chris Nabors</div>
            <div class='clear'></div>
            <!-- Site Navigation -->
            <div id='site_nav_wrapper'>
                <div id='site_nav_wrapper_home'>
                    <a href='/'
                        title='Home'>Home</a>
                </div>
                <div id='site_nav_wrapper_projects'>
                    <a href='/projects/'
                        title='Projects'>Projects</a>
                </div>
                <div id='site_nav_wrapper_note_archive'>
                    <a href='/notes/'
                        title='Note_Archive'>Note Archive</a>
                </div>
                <div id='site_nav_wrapper_about'>
                    <a href='/about/'
                        title='About'>About</a>
                </div>
            </div> <!-- END site_nav_wrapper' -->
            <div class='clear'></div>
        </div> <!-- END logo_wrapper_red_line -->
    </div> <!-- END logo_wrapper -->
    <div class='clear'></div>
    <!-- Block Content -->
    {% block site_content %}{% endblock site_content %}
    <!-- Footer -->
    <div id='footer_wrapper'>
        Chris Nabors | CNabors.net | PillarDD@Gmail.com
    </div>
</div> <!-- END site_container -->
<!-- Bottom JavaScript -->
<script type="text/javascript">
</script>
</body>
</html>
