<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>GuildWars 2 Infographic</title>
        <!-- Mootools -->
        <script type='text/javascript' src='/static/js/mootools.js'></script>
        <!-- D3 -->
        <script type='text/javascript' src='/static/js/d3.js'></script>
        <!-- Local JS File -->
        <script type='text/javascript' src='/static/js/gw2_infographic.js'></script>
        <!-- Local CSS File -->
        <link href='/static/css/gw2_infographic.css' rel='stylesheet' type='text/css' />
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id='site_container'>
            <div id='site_banner'>
                <div id='site_logo'></div>
            </div>
            <div id='middle_container'>
                <div id='gender_pie'>
                    <div id='gender_male'>
                        <div id='male_text' class='formatted_text'></div>
                    </div>
                    <div id='gender_female'>
                        <div id='female_text' class='formatted_text'></div> 
                    </div>
                </div>
                <div id='race_donut'>
                    <div id='race_asura'>
                        <div id='asura_text' class='formatted_text'></div> 
                    </div>
                    <div id='race_charr'>
                        <div id='charr_text' class='formatted_text'></div> 
                    </div>
                    <div id='race_human'>
                        <div id='human_text' class='formatted_text'></div> 
                    </div>
                    <div id='race_norn'>
                        <div id='norn_text' class='formatted_text'></div> 
                    </div>
                    <div id='race_sylvari'>
                        <div id='sylvari_text' class='formatted_text'></div> 
                    </div>
                </div>
                <div id='profession_chart'>
                    <div id='profession_engineer'></div>
                    <div id='profession_mesmer'></div>
                    <div id='profession_necromancer'></div>
                    <div id='profession_guardian'></div>
                    <div id='profession_thief'></div>
                    <div id='profession_elementalist'></div>
                    <div id='profession_ranger'></div>
                    <div id='profession_warrior'></div>
                </div>
                <div id='tradeskill_chart'></div>
            </div>
        </div> <!-- END site_container -->
        <script type='text/javascript'>
            central_init();
        </script>
    </body>
</html>
