{% extends "base.html" %}
{% block site_content %}

<div id='content_wrapper'>
    <div id='left_side_wrapper'>
        <div id='default_left_side_top_hole'></div>
        <div id='default_left_side_bottom_hole'></div>
        <div id='github_link'>
            <a href='https://github.com/PillarDev-Design'
                title='My GitHub Profile' target='_blank'>GitHub</a>
        </div>
        <div id='linkedin_link'>
            <a href='http://www.linkedin.com/pub/christopher-nabors/58/6b5/214'
                title='My LinkedIn Profile' target='_blank'>LinkedIn</a>
        </div>
        <div id='twitter_link'>
            <a href='https://twitter.com/CNabors87'
                title='My Twitter Profile' target='_blank'>Twitter</a>
        </div>
    </div> <!-- END left_side_wrapper -->
    <div id='right_side_wrapper'>
        <div id='content'>
            <div id='home_title'>Recent Notes</div>
            {% for note in latest_notes %}
                <div class='note_post_container'>
                    <div class='note_post_top'>
                        <div class='note_post_top_title'>
                            Post: <a href='/notes/{{note.category}}/{{note.slug}}/'
                                title='{{note.title}}'>{{note.title}}</a>
                        </div>
                        <div class='note_post_top_category'>
                            Category: {{note.category}}
                        </div>
                        <div class='note_post_top_date'>
                            Posted on: {{note.post_date}}
                        </div>
                        <div class='clear'></div>
                    </div> <!-- END note_post_top -->
                    <div class='note_post_bottom'>
                        <div class='note_post_bottom_body'>
                            {{note.description|safe}}
                        </div>
                        <div class='note_post_bottom_read_more'>
                            <a href='/notes/{{note.category}}/{{note.slug}}/'
                                title='{{note.title}}' rel='nofollow'>
                                Read More &gt;</a>
                        </div>
                        <div class='clear'></div>
                    </div> <!-- END note_post_bottom -->
                </div> <!-- END note_post_container -->
            {% endfor %}

        </div> <!-- END content -->
    </div> <!-- END right_side_wrapper -->
</div> <!-- END content_wrapper -->

{% endblock site_content %}
