{% extends "base.html" %}
{% block site_content %}
<div id='content_wrapper'>
    <div id='left_side_wrapper'>
        <div id='default_left_side_top_hole'></div>
        <div id='default_left_side_bottom_hole'></div>
    </div> <!-- END left_side_wrapper -->
    <div id='right_side_wrapper'>
        <div id='content'>
            <div id='archive_wrapper'>
                <div id='archive_wrapper_title'>
                    Note Archive
                </div>
                <div id='archive_wrapper_content'>
                    {% for category in categories %}
                        <h2>{{category}}</h2>
                        {% for note in notes %}
                            {% if note.category == category %}
                                <div class='note_table'>
                                    <table>
                                        <tr class='yellow'>
                                            <td>Note Title</td>
                                            <td>Description</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href='/notes/{{note.category}}/{{note.slug}}/'
                                                    title='{{note.title}}'>{{note.title}}</a>
                                            </td>
                                            <td>
                                                {{note.description|safe}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class='clear'></div>
                        <br /><hr /><br />
                    {% endfor %}
                </div> <!-- END archive_wrapper_content -->
            </div>
        </div> <!-- END content -->
    </div> <!-- END right_side_wrapper -->
</div> <!-- END content_wrapper -->

{% endblock site_content %}
