{% extends "base.html" %}
{% block site_content %}
{% for note in notes %}
    <div class='note_single_container'>
        <div class='note_title_container'>
            <div class='note_title'>
                <a href='/notes/{{note.category}}/{{note.slug}}/'
                    title='{{note.title}}'>{{note.title}}</a>
            </div>
            <div class='note_subtitle'>
                Posted on {{note.post_date}}
            </div>
        </div>
        <div class='note_single_picture'>
        </div>
        <div class='note_single_content'>
            {{note.content|safe}}
        </div>
    </div>
{% endfor %}
{% endblock site_content %}
