{% extends "base.html" %}
{% block site_content %}
This is notes.html

{% for note in notes %}
    <div class='note_item'>
        <h2>
            <a href='/blog/{{post.category}}/{{post.slug}}/'
                title='{{post.title}}'>
                {{post.title}}
            </a>
        </h2>
        <div class='blog_post_item_description'>
            {{post.description|safe}}
        </div>
        <div class='blog_post_read_more grey_text'>
            Posted on {{post.post_date}} | 
            <a href='/blog/{{post.category}}/{{post.slug}}/'
                title='{{post.title}}' rel='nofollow'>
                Read More &gt;
            </a>
        </div>
    </div>
{% endfor %}
{% endblock site_content %}
