{% extends "base.html" %}
{% block site_content %}
This is notes.html

{% for note in notes %}
    <div class='note_item'>
        <h2>
            <a href='/notes/{{note.category}}/{{note.slug}}/'
                title='{{note.title}}'>
                {{note.title}}
            </a>
        </h2>
        <div class='blog_post_item_description'>
            {{note.description|safe}}
        </div>
        <div class='blog_post_read_more grey_text'>
            Posted on {{note.post_date}} | 
            <a href='/notes/{{note.category}}/{{note.slug}}/'
                title='{{note.title}}' rel='nofollow'>
                Read More &gt;
            </a>
        </div>
    </div>
{% endfor %}
{% endblock site_content %}
