{% extends "base.html" %}
{% block site_content %}
{% for note in notes %}
<div id='content_wrapper'>
    <div id='left_side_wrapper'>
        <div id='default_left_side_top_hole'></div>
        <div id='default_left_side_bottom_hole'></div>
    </div> <!-- END left_side_wrapper -->
    <div id='right_side_wrapper'>
        <div id='content'>
            <div class='note_single_container'>
                <div class='note_title_container'>
                    <div class='note_title'>
                        <a href='/notes/{{note.category}}/{{note.slug}}/'
                            title='{{note.title}}'>{{note.title}}</a>
                    </div>
                    <div class='note_subtitle'>
                        Posted on {{note.post_date}}
                    </div>
                </div>
                <div class='note_single_picture'>
                </div>
                <div class='note_single_content'>
                    {{note.content|safe}}
                </div>
            </div>
        </div> <!-- END content -->
    </div> <!-- END right_side_wrapper -->
</div> <!-- END content_wrapper -->
{% endfor %}
{% endblock site_content %}
